body {
  background: linear-gradient(90deg, #49a09d, #5f2c82);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.header a {
  text-decoration: none;
}

.logo h1 {
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul a li {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

a li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  margin-top: 5px;
  background: white;
  transition: all 0.5s;
}

a li:hover::after {
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.img {
  display: block;
  right: 0;
}

.description {
  width: 50%;
}

.description h1 {
  color: white;
}

.description p {
  color: white;
  /* margin: auto; */
}

.container {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 50px;
}

.container h1 {
  color: white;
}

table {
  /* width: 800px; */
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
  background-color: #666f97;
}

.transfer {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  background-color: #475288;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.transfer-btn {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.transfer .title{
  display: flex;
  justify-content: center;
}

.transfer .title h1{
  margin: 0;
  padding: 0;
  font-size: 45px;
}

.transfer select {
  height: 30px;
  width: 350px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-arrow{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  /* background: red; */
  height: 100%;
  width: 2rem;
  pointer-events: none;
  /* border-bottom: 1px solid #ffffff; */
}



.custom-arrow::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

option{
  color: black;
}

.transfer input {
  height: 30px;
  width: 345px;
  /* padding-left: 10px; */
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
}

.transfer button {
  padding: 15px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: white;
}

.transfer button:hover{
  background-color: wheat;
  transition: all 0.3s;
}
